*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
main{
    text-align: center;
}
div.warpper{
    display: inline-block;
}
kbd{
    border:1px solid salmon;
    width:4em;
    height:4em;
    display: inline-block;
    text-transform: uppercase;
    position:relative;
}
button{
    position: absolute;
    right:0;
    bottom:0;
    display:none;
    background: salmon;
    text-decoration: none;
    border: 0;
    outline: none;
    border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    
}
kbd:hover > button{
    display: inline-block;  
}
main > div.warpper > div:nth-child(2) {
    margin-left: 2em;
}
main > div.warpper > div:nth-child(3) {
    margin-left: 2em;
}